@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@layer base{
   html{
    font-family: 'Poppins',sans-serif;
   }
   body{
      background-color: #FFFFFF;
      overflow-x: hidden;
   }
  
}
@layer components{
.btn-primary{
  @apply bg-green-700 p-3 rounded text-white 
}
.list{
   @apply px-3 py-2 border-b border-gray-300 hover:text-black flex items-center justify-between whitespace-nowrap
}
.hide-scrollbar::-webkit-scrollbar {
  @apply hidden
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
   scrollbar-width: none;
}.icon{
   @apply text-white h-20 p-3 bg-black w-20 rounded-full border-10 border-gray-300
}
.product-list{
   @apply rounded-md border border-gray-300  shadow-sm transition
}.btn-secondary{
   @apply bg-[#DB4444] p-2 text-white rounded-sm
}.btn-normal{
   @apply px-4 py-2 border border-slate-500 rounded-sm
}.head-box{
   @apply w-4 h-10 bg-[#DB4444] rounded
}.checkout-box{
   @apply bg-[#F5F5F5]
}
}
